@font-face {
	font-family: 'Heuristica';
	src: local('Heuristica Regular'), local('Heuristica-Regular'),
		url('../fonts/Heuristica/Heuristica-Regular.eot') format('embedded-opentype'),
		url('../fonts/Heuristica/Heuristica-Regular.woff') format('woff'),
		url('../fonts/Heuristica/Heuristica-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto/Roboto-Regular.eot') format('embedded-opentype'),
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/Roboto/Roboto-Medium.eot') format('embedded-opentype'),
        url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}