// colors 

$bgc: rgba(235, 243, 255, 1);
$primary: rgba(38, 69, 118, 1);
$dark: rgba(25, 25, 25, 1);
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$fon: rgba(188, 202, 224, 1);
$blue: rgba(30, 130, 250, 1);
$light: rgba(245, 246, 247, 1);
$gray: rgba(135, 145, 170, 1);

//font-size

$small: 1.4rem;
$medium: 1.6rem;
$big: 2rem;

//font-family

$heuristica: 'Heuristica', sans-serif;
$roboto: 'Roboto', sans-serif;



