@import "../../../../styles/variables.scss";

.cards-field {
    width: 100%;
    max-width: 110rem;

    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;

    &__empty {
        width: 100%;
        text-align: center;
        font-size: $big;
        color: $gray;
        text-transform: uppercase;
    }
}